
.myList
{   
    li
    {
        list-style:disc;
    }

    li::marker
    {
        font-size: 0.65em;
    }
    margin-left: 30px;
}

.doterraRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.bigNumber{
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 0.5;
    text-align: left;
    margin-bottom:75px;
} 

.darkBlue{
    color: $darkBlue;
}

.lightBlue
{
    color: $lightBlue;
}

h1 {
    font-family: $mainFont;
    font-weight: 300;
    font-size: 60px;
    line-height: 64px;
    text-transform: uppercase;
    color: $black;
    text-align: center;

    &.big {
        font-family: $mainFont;
        font-weight: 400;
        font-size: 100px;
        line-height: 122px;
        text-align: center;
        color: $black;

    }
}

h2 {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: $black;
}

h3 {
    font-family: $mainFont;
    font-size: 20px;
    line-height: 24px;
    color: $black;

    &.light {
        font-weight: 300;

    }

    &.reg {
        font-weight: 400;
    }

    &.med {
        font-weight: 500;
    }

    &.bold {
        font-weight: 700;
    }


}

p {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $black;
}

main {
    min-height: calc(100vh - 308.48px);
}

.shareIcon 
{
    top:5px;
    left:5px;
    position:relative;
}

.button {
    cursor: pointer;
    box-sizing: border-box;
    @include transition;





    &.primary {
        padding: 18px 98px;
        max-width: 293px;
        background: $black;
        border-radius: 35px;
        font-family: $mainFont;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $bodybg;

        &:hover {
            color: $bodybg;
            background-color: $blue;
        }

        &:disabled {
            opacity: 0.5;
        }

        &.large {
            padding: 18px 45px;
            max-width: 400px;
        }

        &.mirror
        {
            padding: 18px 35px;
            max-width: 450px;
            margin-top:20px !important;
            width:375px;
            &:hover
            {
                .shareIcon 
                {
                    filter: invert(94%) sepia(13%) saturate(149%) hue-rotate(338deg) brightness(102%) contrast(96%);
                }
            } 
        }

        &:hover {
            color: $bodybg;
            background-color: $blue;
        }


        &.clearDT
        {
            border: 1px solid black ;
            padding: 18px 35px;
            max-width: 450px;
            background-color: #FAF4ED ;
            color:black;
            margin-top:20px !important;

            &:hover {
                color: $bodybg;
                background-color: $blue;
                border: 1px solid $blue ;
            }


            &.back
            {
                width: 295px;

                &:hover {
                    color: $bodybg;
                    background-color: $blue;
                    border: 1px solid $blue ;
                }
            }
        }


    }
}