/* TIME SELECTOR CSS */
:root {
    --top-bg: #292929;
    
    --top-selected-color: #faf4ed;

    --clock-bg: #292929;

    --clock-wrapper-bg: #1d1d1d;

    --done-bg-color: #292929;

    --done-text-color:#faf4ed;

    --done-border-top: #faf4ed;

    --hand-circle-outer: #faf4ed;

    --hand-line-color:#faf4ed;

    --hand-circle-center: #faf4ed;

    --meridiem-bg-color:#292929;

    --meridiem-text-color: #ffffff;

    --meridiem-selected-bg-color: #faf4ed;

    --meridiem-selected-text-color: #000000;
}



