.rangeSlider {
  width: 100%;
  position: relative;
  margin-top: 52px;
  padding-bottom: 44px;
}
.rangeSlider-min,
.rangeSlider-max {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}
.rangeSlider-min {
  position: absolute;
  left: 0;
  bottom: 0;
}
.rangeSlider-max {
  position: absolute;
  right: 0;
  bottom: 0;
}
.rangeSlider__value {
  position: absolute;
  top: -44px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000;
}
.rangeSlider__optimal {
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000;
  position: absolute;
  bottom: 2px;
  left: 41%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.rangeSlider::before {
  content: "";
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 34px;
  width: 31%;
  max-width: 274px;
  background: none;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  height: 12px;
  box-sizing: border-box;
}
.rangeSlider::after {
  content: "";
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 24px;
  width: 1px;
  height: 10px;
  background: #000;
}
.rangeSlider__input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(242, 100, 78, 0) 23.75%,
    #f2644e 40%,
    rgba(242, 100, 78, 0) 55.18%
  );
  border: 1px solid #000;
  border-radius: 50px;
  box-sizing: border-box;
  position: relative;
}
.rangeSlider__input::before {
  content: "";
  height: 20px;
  width: 1px;
  position: absolute;
  left: 41%;
  top: 0;
  transform: translateX(-50%);
  -moz-ransform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  border-left: 1px dashed #fff;
  z-index: 0;
}
.rangeSlider__input::-webkit-slider-thumb {
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #f2644e;
  background-image: url("../../../assets/images/lines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% 40%;
  border: 1px solid #000;
  border-radius: 50%;
}
.rangeSlider__input::-moz-range-thumb {
  position: relative;
  z-index: 1;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #f2644e;
  background-image: url("../../../assets/images/lines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #000;
  border-radius: 50%;
}
.rangeSlider.hdl .rangeSlider__optimal {
  left: 65.16%;
}
.rangeSlider.hdl::before {
  left: 65.16%;
  max-width: 550px;
  width: 60%;
}
.rangeSlider.hdl::after {
  left: 65.16%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.hdl .rangeSlider__input {
  background: linear-gradient(
    90deg,
    rgba(149, 182, 168, 0) 26.83%,
    #95b6a8 50.16%,
    rgba(149, 182, 168, 0) 150.17%
  );
}
.rangeSlider.hdl .rangeSlider__input::before {
  left: 65.16%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.hdl .rangeSlider__input::-webkit-slider-thumb {
  background-color: #95b6a8;
}
.rangeSlider.hdl .rangeSlider__input::-moz-range-thumb {
  background-color: #95b6a8;
}
.rangeSlider.trigl .rangeSlider__optimal {
  left: 29.74%;
}
.rangeSlider.trigl::before {
  left: 29.74%;
}
.rangeSlider.trigl::after {
  left: 29.74%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.trigl .rangeSlider__input {
  background: linear-gradient(
    90deg,
    rgba(149, 182, 168, 0) 13.49%,
    #95b6a8 29.74%,
    rgba(149, 182, 168, 0) 45.85%
  );
}
.rangeSlider.trigl .rangeSlider__input::before {
  left: 29.74%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.trigl .rangeSlider__input::-webkit-slider-thumb {
  background-color: #95b6a8;
}
.rangeSlider.trigl .rangeSlider__input::-moz-range-thumb {
  background-color: #95b6a8;
}
.rangeSlider.glucose .rangeSlider__optimal {
  left: 34.5%;
}
.rangeSlider.glucose::before {
  left: 34.5%;
}
.rangeSlider.glucose::after {
  left: 34.5%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.glucose .rangeSlider__input {
  background: linear-gradient(
    90deg,
    rgba(149, 182, 168, 0) 16.75%,
    #95b6a8 34.5%,
    rgba(149, 182, 168, 0) 49.18%
  );
}
.rangeSlider.glucose .rangeSlider__input::before {
  left: 34.5%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.glucose .rangeSlider__input::-webkit-slider-thumb {
  background-color: #95b6a8;
}
.rangeSlider.glucose .rangeSlider__input::-moz-range-thumb {
  background-color: #95b6a8;
}
.rangeSlider.a1c .rangeSlider__optimal {
  left: 34.5%;
}
.rangeSlider.a1c::before {
  left: 34.5%;
}
.rangeSlider.a1c::after {
  left: 34.5%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.a1c .rangeSlider__input {
  background: linear-gradient(
    90deg,
    rgba(149, 182, 168, 0) 16.75%,
    #95b6a8 34.5%,
    rgba(149, 182, 168, 0) 49.18%
  );
}
.rangeSlider.a1c .rangeSlider__input::before {
  left: 34.5%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.a1c .rangeSlider__input::-webkit-slider-thumb {
  background-color: #95b6a8;
}
.rangeSlider.a1c .rangeSlider__input::-moz-range-thumb {
  background-color: #95b6a8;
}
.rangeSlider.pressure .rangeSlider__optimal {
  left: 41%;
}
.rangeSlider.pressure::before {
  left: 41%;
}
.rangeSlider.pressure::after {
  left: 41%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.pressure .rangeSlider__input {
  background: linear-gradient(
    90deg,
    rgba(149, 182, 168, 0) 24%,
    #95b6a8 41.05%,
    rgba(149, 182, 168, 0) 56%
  );
}
.rangeSlider.pressure .rangeSlider__input::before {
  left: 41%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.pressure .rangeSlider__input::-webkit-slider-thumb {
  background-color: #95b6a8;
}
.rangeSlider.pressure .rangeSlider__input::-moz-range-thumb {
  background-color: #95b6a8;
}
.rangeSlider.diastolicBP .rangeSlider__optimal {
  left: 30%;
}
.rangeSlider.diastolicBP::before {
  left: 22%;
  width: 37%;
}
.rangeSlider.diastolicBP::after {
  left: 26%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.diastolicBP .rangeSlider__input {
  background: linear-gradient(
    90deg,
    rgba(242, 100, 78, 0) -15%,
    #f2644e 25%,
    rgba(242, 100, 78, 0) 40%
  );
}
.rangeSlider.diastolicBP .rangeSlider__input::before {
  left: 26%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.diastolicBP .rangeSlider__input::-webkit-slider-thumb {
  background-color: #f2644e;
}
.rangeSlider.diastolicBP .rangeSlider__input::-moz-range-thumb {
  background-color: #f2644e;
}
.rangeSlider.diastolicBP.new .rangeSlider__input {
  background: linear-gradient(
    90deg,
    rgba(242, 100, 78, 0) -15%,
    #95b6a8 25%,
    rgba(242, 100, 78, 0) 40%
  );
}
.rangeSlider.diastolicBP.new .rangeSlider__input::before {
  left: 26%;
  transform: translate(0, 0);
  -moz-ransform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.rangeSlider.diastolicBP.new .rangeSlider__input::-webkit-slider-thumb {
  background-color: #95b6a8;
}
.rangeSlider.diastolicBP.new .rangeSlider__input::-moz-range-thumb {
  background-color: #95b6a8;
}
.rangeSlider.weight {
  margin-top: 52px;
  margin-bottom: 24px;
}
.rangeSlider.weight::before {
  display: none;
}
.rangeSlider.weight::after {
  display: none;
}
.rangeSlider.weight .rangeSlider__value {
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
}
.rangeSlider.weight .rangeSlider__optimal {
  display: none;
}

.rangeSlider.weight .rangeSlider__input::before {
  display: none;
}
.rangeSlider.weight .rangeSlider__input::-webkit-slider-thumb {
  background-color: #95b6a8;
}
.rangeSlider.weight .rangeSlider__input::-moz-range-thumb {
  background-color: #95b6a8;
}
.rangeSlider.new {
  margin-top: 52px;
  margin-bottom: 24px;
}
.rangeSlider.new .rangeSlider__value {
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
}

.heart::before,
.weight::before,
.time::before {
  content: none;
}

.heart::after,
.weight::after,
.time::after {
  content: none;
}

.heart .rangeSlider__input::before,
.weight .rangeSlider__input::before,
.time .rangeSlider__input::before {
  content: none;
}

@media (max-width: 700px) {
  .rangeSlider {
    margin-top: 50px;
    padding-bottom: 55px;
  }
  .rangeSlider-min,
  .rangeSlider-max {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    bottom: unset;
    top: 27px;
  }
  .rangeSlider__value {
    top: -40px;
    font-size: 20px;
    line-height: 24px;
  }
  .rangeSlider__optimal {
    max-width: 110px;
    font-size: 12px;
    line-height: 15px;
    bottom: unset;
    top: 35px;
  }
  .rangeSlider::before {
    bottom: unset;
    top: 12px;
  }
  .rangeSlider::after {
    bottom: unset;
    top: 24px;
    height: 8px;
  }
  .rangeSlider__input {
    height: 12px;
  }
  .rangeSlider__input::before {
    height: 12px;
  }
  .rangeSlider__input::-webkit-slider-thumb {
    width: 36px;
    height: 36px;
    background-size: 36% 36%;
  }
  .rangeSlider__input::-moz-range-thumb {
    width: 36px;
    height: 36px;
    background-size: 36% 36%;
  }
  .rangeSlider.weight {
    margin-top: 35px;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
  .rangeSlider.weight .rangeSlider__value {
    top: -30px;
    font-size: 12px;
    line-height: 15px;
  }
  .rangeSlider.new {
    margin-top: 35px;
    margin-bottom: 12px;
  }
  .rangeSlider.new::before {
    height: 8px;
  }
  .rangeSlider.new::after {
    top: 20px;
  }
  .rangeSlider.new .rangeSlider__optimal {
    top: 30px;
  }
  .rangeSlider.new .rangeSlider__value {
    top: -30px;
    font-size: 12px;
    line-height: 15px;
  }
}
