.footer {
    background: $black;

    &__inner {
        padding: 40px 0;
        text-align: center;

        &-logo {
            margin: 0 auto;
            width: 264px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;

            img {
                width: 100%;
            }
        }

        &-created {
            font-family: $mainFont;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: $bodybg;
        }
    }


}

@mixin footer-xxlg-xxxlg {
    .footer {
        &__inner {
            padding: 30px 0;

            &-logo {
                margin-bottom: 16px;
            }
        }
    }
}

@mixin footer-lg-xlg {
    .footer {
        &__inner {
            &-logo {
                width: 220px;
            }

            &-created {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

@mixin footer-xsm-sm {
    .footer {
        &__inner {
            &-logo {
                width: 200px;
            }

            &-created {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}